 HEAD
* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
=======
# Auto detect text files and perform LF normalization
* text=auto
 c8256f8bea671a469e60c437f904652c254b317a
